<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <img src="/icons/logo.png" alt="Logo" />
        </a>
        <button class="navbar-toggle" onclick="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <div class="navbar-links">
            <a href="/" class="nav-link">
                <img src="/icons/home-icon.png" alt="Home Icon" class="nav-icon" />
                Home
            </a>
            <a href="/post/create" class="nav-link">
                <img src="/icons/create-icon.png" alt="Create Icon" class="nav-icon" />
                Create Post
            </a>
        </div>
    </div>
</nav>
