<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/post-create-styles.css">
    <script src="/js/handleNavbar.js" defer></script>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="post-create-container">
        <div><h1>Are you inspired? Start writing!</h1></div>
        <div class="create-post">
            <form action="/post/create" method="POST" enctype="multipart/form-data">
                <!-- Left column for main inputs -->
                <div class="left-column">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" placeholder="Enter the post title" required>

                    <label for="author">Author:</label>
                    <input type="text" id="author" name="author" placeholder="Author name" required>

                    <label for="image">Image (*jpg file)</label>
                    <input type="file" id="image" name="image" accept="image/jpg">

                    <button type="submit">Create Post</button>
                </div>

                <!-- Right column for content textarea -->
                <div class="right-column">
                    <textarea id="content" name="content" rows="10" placeholder="Start writing your post here..." required></textarea>
                </div>
            </form>
        </div>
    </div>

    

</body>
</html>